= form_for @customer do |f|
  =f.label :first_name
  =f.text_field :first_name, placeholder: "First Name"
  %br
  =f.label :last_name
  =f.text_field :last_name, placeholder: "Last Name"
  %br
  =f.label :email
  =f.text_field :email, placeholder: "Email"
  %br
  =f.submit "Save", class: "btn btn-primary" 
%hr
= link_to "Go Back", business_path(@business), class: "btn btn-primary"